<main>
<div class="jumbotron elem-align">
  <div class="container logo-nm-txt">
  <h1 class="display-4">We Work Remotely</h1>
  <p class="lead"><%= link_to "We Work Remotely", root_path %> is the largest community on the web (with over 2,500,000 monthly visitors) to find and list remote jobs that aren't restricted by commutes or a specific location.</p>
  <hr class="my-4">
  <%= link_to "Post a job for $299/month", new_job_path, class: "btn btn-primary btn-lg post-btn" %>
  </div>
</div>
</main>
