/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.jumbotron {
  background: linear-gradient(360deg, #f7582d, transparent 80%);
  background-size: cover;
}

.btn-outline-success {
  color: #f7582d;
  border-color: #f7582d;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #f7582d;
  border-color: #f7582d;
}

.navbar {
  margin-top: -15px;
  height: 100px;
}

.elem-align { //Jumbotron customization
  text-align: center;
}

.elem-align h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: Impact;
}

.logo-nm-txt {
  width: 810px;
}

.post-btn {
  margin-top: 30px;
}

.head-form-job {
  height: 300px;
  width: auto;
}

.head-form-job h1 {
  padding-top: 100px;
  font-family: "Tahoma";
}

.form-job { //Form customization
  background-color: white;
  width: 920px;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.form-job h3 {
  color: #f7582d;
}

.fch {
  height: 53px;
  margin-bottom: 20px;
}

.form-group {
  margin-top: 20px;
  padding-bottom: 20px;
}

select#job_category { //Set up Category field
  width: 429px;
  height: 58px;
}

.cw { //Turned off font-weight for the radio buttons
  font-weight: normal;
  height: 38px;
  margin-top: 17px;
}

.mdb-color { //Changed footer bg color
  background-color: #f8f9fa;
}

.teh { //Trix editor field height
  height: 250px;
  overflow-y: auto;
}

.cte { //Customize upload file field
  border: 2px lightgrey dotted;
  height: 53px;
}

.parent-container {//Show page
  width: 950px;
  margin: 100px auto;
}

.head-container {
  width: 665px;
  margin-left: -50px;
}

.head-container h1 {
  padding: 15px 0;
}

.main-container {
  width: 675px;
  margin-left: -50px;
}

.main-container h1 {
  padding: 15px 0;
}

.bottom-container {
  width: 675px;
  margin-left: -50px;
}

.jtcr {
  color: #2736a3;
  background-color: #dde0f4;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 6px 8px 2px 8px;
  border-radius: 2px;
  border: 1px solid #2736a3;
  display: inline-block;
  font-family: "Neufile Grotesk Regular", sans-serif;
  margin-right: 8px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

div .card {
  float: right;
  background-color: #f8f9fa;
}

div .card img {
  margin-top: 20px;
}

.label-bottom {//Form label
  font-size: 0.75em;
  position: relative;
  top: -18px;
}

.label-logo-bottom {//Form label
  font-size: 0.75em;
  position: relative;
  top: 2px;
}

body > form {//Form background
  background: linear-gradient(360deg, #f7582d, transparent 100%);
  // background-color: lightblue;
}

.nav-customization {
  background-color: #e9ecef;
}

.index-cards {//index cards customization
  width: 952px;
  height: 125px;
  background-color: #e9ecef;
}

.index-width {
  width: 948px;
}

.flag-logo {
  display: inline-block;
  margin-top: 5px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-color: #fff;
  background-position: center center;
  border-radius: 50%;
  background-repeat: no-repeat;
  left: -35px;
  position: absolute;
  border: 1px transparent #212529;
}

.index-job-info {
  color: #212529;
  font-family: "Tahoma", sans-serif;
  margin-right: 10px;
  text-decoration: none;
  max-width: calc(100% - 375px);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-left: 42px;
  font-size: 1.25em;
}

.index-date {
  float: right;
  color: #212529;
  margin-top: -32px;
  margin-right: -190px;
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.index-job-title {
  font-weight: bold;
}

.index-job-name-type {
  font-size: 1em;
  font-family: "Tahoma";
}
